$colorBlack: #2D3436;
$colorPurple: #6C5CE7;
$colorYellow: #FDCB6E;
$colorRed: #D63031;
$colorGreenLight: #55efc4;
$colorWhite: #fff;
$colorPink: #E84393;
$colorGray: #ADADAD;
$colorGrayLight: #C2C2C2;
$colorBlue: #0984E3;
$colorGreen: #00B894;


$text-shadow--white: 0 4px 0px #ffff;
$text-shadow--black: 0 4px 0px #000;

