@import 'variable';
p{
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}
button{
    outline: none;
    border: none;
}



