

@mixin dis-cell{
    display: table-cell;
    vertical-align: top;
}

@mixin atriTypeBold($fontFamily: Inter, $fontWeight: bold) {
    font-family: $fontFamily;
    font-weight: $fontWeight;
}
@mixin size($font-size, $line-height, $leter-spacing) {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $leter-spacing;
}
@mixin td__inner {
    margin: 0px 135px;
    padding-top: 80px;
    padding-bottom: 80px;
}
@mixin positon-abs($top, $bottom, $left, $right) {
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    z-index: -99;
}
@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

.zoom{
    overflow: hidden;
    display: block;
}
.zoom img{
    transition: .3s ease;
    &:hover{
        cursor: pointer;
        transform: scale(1.3);
    }
}