
@import '../normal';
@import '../variable';
@import '../components/buttom';
@import '../components/input';

#footer-mobi{
    display: none;
}
footer{
    img{
        max-width: 100%;
        height: auto;
    }
}

.footer{
    // overflow-x: hidden;
    @include td__inner;
    max-width: 1170px !important;
}
.follow{
    &__name{
        @include atriTypeBold;
        @include size(12px, 24px, 2.5px);
        text-transform: uppercase;
        color: $colorGrayLight;
        margin-top: 40px;
    }

    &__icon{
        margin-top: 8px;
        a{
            margin-right: 37px;
            border-radius: 50% !important;
        }
    }

    &__email{
        @include size(32px, 48px, -0.5px);
        margin-top: 0;
        color: $colorPurple;
        @include atriTypeBold;
        margin-bottom: 0;
    }

    &__list-colum{
        ul{
            list-style-type: none;
            padding-left: 0;

            li{
                margin-top: 16px;
            }

            a{
                text-decoration: none;
                color: $colorBlack;

                &:hover{
                    cursor: pointer;
                    border-bottom: 2px solid #6f9095;
                }
            }
        }
    }
}

.inputWidthIcon{
    @include widthHeight(270px, 48px);
    margin-top: 16px;

    &--mess{
        @include widthHeight(370px, 80px);
        margin-top: 30px;
    }
}

textarea {
    @include widthHeight(370px, 80px);
    @extend input;
    color: $colorPurple;
}
.positon-abs{
    @include positon-abs(0, 0, auto ,5px);
    line-height: 43px;
    z-index: 1;
}


@include responsive_1024{
    #footer{
        max-width: 1170px;
        margin: auto;
    }
    .suports__title{
        margin: 30px;
    }
    .suports__icon{
        margin: 40px 30px;
    }
    input,
    textarea, 
    .inputWidthIcon--mess,
    .inputWidthIcon{
        width: 100%;
    }

    
}
@include responsive_768{
    #footer-mobi{
        display: none;
    }
    .footer{
        padding-top: 0;
        padding-bottom: 0;
        max-width: 1023px !important;
    }
    .follow{
        &__name{
            text-align: center;
        }
        &__icon{
            justify-content: center;
        }
        &__list-colum ul{
            text-align: center;
        }
        &__email{
            text-align: center;
        }

        &__form{
            margin-top: 40px;
            .row{
                flex-flow: column;
                margin: 10px auto;
                .col-md-6, .col-md-8, .col-md-4{
                    width: 100%;
                    padding-right: 0;
                    padding-left: 0;
                }
                
            }
        }
    }
    .inputWidthIcon, .inputWidthIcon--mess, textarea {
        width: 100%;
    }
    .inputWidthIcon--mess{
        margin-top: 16px;
    }
}
@include responsive_360{

    #footer{
        display: none;
    }
    
    #footer-mobi{
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: auto;
    }

    .footer-mobi{
        &__title{
            text-align: center;
            @include size(14px, 24px, 0.2px);
            @include atriTypeBold(Inter, 500);
            margin-bottom: 0;
    
            &--color{
                color: $colorGreen;
                text-align: center;
                @include size(12px, 22px, 0.3px);
                margin-bottom: 0;
            }
    
            &-email{
                @include size(18px, 32px, 0.2px);
                text-align: center;
                color: $colorPurple;
                @include atriTypeBold;
                margin-bottom: 0;
            }
        }

        &__follow-icon{
            margin: 0 15px;
            margin-top: 24px;
            @include d-flex;
            div{
                @include widthHeight(40px, 40px);
            }
        }
    }

    .bg-rectangle, .bg-dots {
        bottom: 0;
    }
    .bg-dots{
        margin-left: 55px;
    }
}

@include responsive_359{
    #footer{
        display: none;
    }
    
    #footer-mobi{
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: auto;
    }

    .footer-mobi{
        &__title{
            text-align: center;
            @include size(14px, 24px, 0.2px);
            @include atriTypeBold(Inter, 500);
            margin-bottom: 0;
    
            &--color{
                color: $colorGreen;
                text-align: center;
                @include size(12px, 22px, 0.3px);
                margin-bottom: 0;
            }
    
            &-email{
                @include size(18px, 32px, 0.2px);
                text-align: center;
                color: $colorPurple;
                @include atriTypeBold;
                margin-bottom: 0;
            }
        }

        &__follow-icon{
            margin: 0 15px;
            margin-top: 24px;
            @include d-flex;
            div{
                @include widthHeight(40px, 40px);
            }
        }
    }

    .bg-rectangle, .bg-dots {
        bottom: 0;
    }
    .bg-dots{
        margin-left: 55px;
    }
}